Web/Service References/WcfCorrespondenciaRecibida/ServicioIntegracion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BANCOLDEX.IntegracionOnbase.Model.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BANCOLDEX.IntegracionOnbase.Model.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComunicacionEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anexos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentHandle" type="xs:long" />
      <xs:element minOccurs="0" name="FechaRadicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunsionarioAsignado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroRadicado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaRelacionada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComunicacionEntrada" nillable="true" type="tns:ComunicacionEntrada" />
</xs:schema>